<ion-header>
  <ion-toolbar>
    <ion-title>Detalle de Venta</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h2>Fecha: {{ sale.date | date : "medium" }}</h2>
  <h3>Productos:</h3>
  <ion-list>
    <ion-item *ngFor="let producto of sale.products">
      <ion-label>
        {{ producto.name }} - {{ producto.price | currency : "USD" : "symbol" :
        "1.2-2" }} x {{ producto.amount }}
      </ion-label>
    </ion-item>
  </ion-list>
  <h3>Subtotal: {{ sale.subtotal | currency : "USD" : "symbol" : "1.2-2" }}</h3>
  <h3>Impuestos: {{ sale.tax | currency : "USD" : "symbol" : "1.2-2" }}</h3>
  <h2>Total: {{ sale.total | currency : "USD" : "symbol" : "1.2-2" }}</h2>
</ion-content>
